#content {
    max-width: 1600px; 
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: black;
}


#hero-msg h1, #hero-msg h4 {
    text-align: center;
}


.button-box {
    text-align: center;
}


main section {
    text-align: center;
}

/* Set background color for the body */

body {
    background-color: white;
}

/* background color for the header */
header {
    background-color: rgba(20, 30, 13, 0.7); 
}

/*  background color for navigation links on hover */
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

/* background color for the "Book Now" and "Join Us" buttons */
.book, .join {
    background-color: rgb(105, 96, 14);
}

.home-title {
    color: #FFFFFF;
}

/*  background color for the buttons on hover */
.book:hover, .join:hover {
    background-color: white;
    color: #000000;
}
.msg h2, .msg p {
    color: 	#000000;
}

/* background element */
#background {
    background-color:  #eec491d8;
    height: 725px;
}

/* Set background color for the .msg section */
.msg {
    background-color: #918282;
}

/* Set background color for the footer */
footer {
    background-color: #918282;
    color: #f0e8e8;
}

footer a:hover {
    text-decoration: underline;
    color: #000000;
}


/*logo width*/

.logo {
    width: 80px;
}

/*icons width*/

.icon {
    width: 80px;
}

/*hero width*/
#hero-img {
    width: 100%;
}

nav a,
.book, .join,
footer a {
    text-align: center;
    color: #fffbfb;
    text-decoration: none;
}

/* Increase font size for footer text */
footer p {
    font-size: 1.2em;
}

/* underline to footer links on hover */
footer p a:hover {
    text-decoration: underline;
}